@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
@layer utilities {
  body::-webkit-scrollbar {
    width: 0.4em;
    background-color: #0b192f;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #4c5474;
    scrollbar-gutter: stable;
    border-radius: 40px;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@layer base {
  :root {
    --background: 210 100% 6%;
    --foreground: 180 100% 90%;
    --primary: 200 100% 28%;
    --primary-foreground: 180 100% 90%;
    --secondary: 203 23% 30%;
    --secondary-foreground: 180 100% 90%;
    --accent: 198 70% 50%;
    --accent-foreground: 185 10% 13%;
    --destructive: 0 98% 44%;
    --destructive-foreground: 0 0% 100%;
    --muted: 200 50% 30%;
    --muted-foreground: 180 100% 90%;
    --card: 210 100% 12%;
    --card-foreground: 180 100% 90%;
    --popover: 210 100% 15%;
    --popover-foreground: 180 100% 90%;
    --border: 210 50% 40%;
    --input: 210 50% 40%;
    --ring: 180 100% 90%;
    --radius: 0rem;
  }
}

@layer base {
  :root {
    --background: 210 100% 6%;
    --foreground: 180 100% 90%;
    --primary: 200 100% 28%;
    --primary-foreground: 180 100% 90%;
    --secondary: 203 23% 30%;
    --secondary-foreground: 180 100% 90%;
    --accent: 198 70% 50%;
    --accent-foreground: 185 10% 13%;
    --destructive: 0 98% 44%;
    --destructive-foreground: 0 0% 100%;
    --muted: 200 50% 30%;
    --muted-foreground: 180 100% 90%;
    --card: 210 100% 12%;
    --card-foreground: 180 100% 90%;
    --popover: 210 100% 15%;
    --popover-foreground: 180 100% 90%;
    --border: 210 50% 40%;
    --input: 210 50% 40%;
    --ring: 180 100% 90%;
    --radius: 0rem;
  }
}

body {
  background: #0D1117;
  height: 100vh;
}

.solar-system {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100vh;

  .js-sun {
    position: absolute;
  }

  .react-planet {
    position: absolute;
    animation: orb 35s linear infinite;
  }

  .nextjs-planet {
    position: absolute;
    animation: orb 45s linear infinite;
  }

  .sass-planet {
    position: absolute;
    animation: orb 25s linear infinite;
  }

  .storybook-planet {
    position: absolute;
    animation: orb 5s linear infinite;
  }

  .styled-components-planet {
    position: absolute;
    animation: orb 14s linear infinite;
  }

  .figma-planet {
    position: absolute;
    animation: orb 60s linear infinite;
  }
}

.stars {
  position: absolute;
  z-index: -1;

  ellipse {
  animation: stars 2s ease-in alternate infinite;
}
}

@keyframes orb {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes stars {
  0% {
    filter: contrast(0%);
  }
  35% {
     filter: contrast(25%);
  }
  40% {
     filter: contrast(50%);
  }
  60% {
    filter: contrast(75%);
  }
  100% {
    filter: contrast(170%);
  }
}

.orbit, .figma-planet, .js-sun, .react-planet, .nextjs-planet, .sass-planet, .styled-components-planet, .storybook-planet {
  margin-left: 450px;
}
